{%- if site.data.theme.icons -%}{% assign icons = site.data.theme.icons %}{% else %}
{% assign cb_icons = site.pages | where: "name","cb-icons.svg" | first %}
{% assign icons = cb_icons.icons %}{%- endif -%}
{% if site.data.theme.map-child-objects == true %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
{% else %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' | where_exp: 'item','item.parentid == nil' -%}
{% endif %}
{%- assign items = items | where_exp: 'item', 'item.objectid != nil' | where_exp: 'item','item.latitude' -%}
{%- assign fields = site.data.config-map -%}
<!-- load leaflet dependencies -->
<script src="{{ '/assets/lib/leaflet/leaflet.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/Leaflet.fullscreen.min.js' | relative_url }}"></script>
{% if site.data.theme.map-search == true %}<script src="{{ '/assets/lib/leaflet/fuse.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.fusesearch.js' | relative_url }}"></script>{% endif %}
{% if site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.js' | relative_url }}"></script>{% endif %}
{% if site.data.theme.map-search == true and site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.freezable.js' | relative_url }}"></script>{% endif %}
<script>
(function(){
    /* add collection map data */
    var geodata = { "type": "FeatureCollection", "features": [ 
    {% for item in items %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{{ item.longitude | strip }},{{ item.latitude | strip }}] }, "properties":
    { "title": {{ item.title | jsonify }}, 
    {% for f in fields %}{{ f.field | jsonify }}: {{ item[f.field] | jsonify }},{% endfor %}
    "watersstimsontypeabrvicon": {{ item.watersstimsontypeabrvicon | jsonify }}, {% if  item.watersstimsontypeabrvicon contains '/' %}"watersstimsontypeabrvicon": "{{ item.watersstimsontypeabrvicon }}" {% else %}"watersstimsontypeabrvicon":{{ '/objects/' | relative_url | append: item.watersstimsontypeabrvicon | jsonify }}{% endif %}, "link": "{% if item.parentid %}{{ item.parentid }}#{{ item.objectid }}{% else %}{{ item.objectid }}{% endif %}", "id": {{ item.objectid | jsonify }} } }{% unless forloop.last %}, {% endunless %}{% endfor %}
    ]};

    /* check for url parameters and setup initial view options */ 
    let url = new URL(window.location);
    const locationSearchParams = url.searchParams.get('location');
    var mapCenter = locationSearchParams ? locationSearchParams.split(',') : [{{ site.data.theme.latitude | default: 46.727485 }}, {{ site.data.theme.longitude | default: -117.014185 }}];
    var mapZoom = locationSearchParams ? 16 : {{ site.data.theme.zoom-level | default: 5 }};
    var markerFilter = url.searchParams.get('marker') ? url.searchParams.get('marker') : "";

    /* init map */
    var map = L.map('map');

    /* add map layer options */
    var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    /* load base map */
    {{ site.data.theme.map-base | default: 'Esri_NatGeoWorldMap' }}.addTo(map);

    {% if site.data.theme.map-search == true %}
    /* add leaflet-fusesearch */
    var options = {
        title: 'Search Map Items',
        locationholder: 'Search map items...',
        threshold: {{ site.data.theme.map-search-fuzziness | default: 0.35 }},
        showResultFct: function(feature, container) {
            var result = `<strong>${feature.properties.title}</strong><br>`;
            {% for f in fields %}
            if(feature.properties[{{ f.field | jsonify }}]) { result += feature.properties[{{ f.field | jsonify }}] + `<br>`; }
            {% endfor %}
            container.innerHTML = result;
        }
    };
    var searchCtrl = L.control.fuseSearch(options);
    searchCtrl.addTo(map);
    searchCtrl.indexFeatures(geodata.features, {{ fields | where: 'search','true' | map: 'field' | unshift: 'title' | jsonify }});{% endif %}

    /* add fullscreen control */ 
    map.addControl(new L.Control.Fullscreen());

    /* add a single point manually */
var shipIcon = L.icon({
    iconUrl: 'assets/map-icons/shipwreck50.png',
    iconSize:     [50, 50],
    iconAnchor:   [25, 50],
    popupAnchor:  [0, -50],
	pane: shadowPane
});
L.marker([-28.599444,16.3975], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Bom%20Jesus">Bom Jesus</a> shipwreck site');
L.marker([27.459298,-97.235692], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Espiritu%20Santo">Espiritu Santo</a> shipwreck site');
L.marker([22.806276,-83.789083], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Ines%20de%20Soto">Ines de Soto</a> shipwreck site');
L.marker([22.2688,-84.698683], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Francisco%20Padre">Francisco Padre</a> shipwreck site');
L.marker([55.2451589095152,-6.53684072883587], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#La%20Girona">La Girona</a> shipwreck site');
L.marker([-20.143921,57.463486], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Banda">Banda</a> shipwreck site');
L.marker([38.672558,-9.325653], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Nossa%20Senhora%20dos%20Mártires">Nossa Senhora dos Mártires</a> shipwreck site');
L.marker([24.279333,-82.844333], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Nuestra%20Señora%20de%20Atocha">Nuestra Señora de Atocha</a>, <a href="https://taliaperry.github.io/astro/browse.html#Buen%20Jesús%20y%20Nuestra%20Señora%20del%20Rosario">Buen Jesús y Nuestra Señora del Rosario</a>, & <a href="https://taliaperry.github.io/astro/browse.html#Santa%20Margarita">Santa Margarita</a> shipwreck sites');
L.marker([-28.47475,113.790482], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Batavia">Batavia</a> shipwreck site');
L.marker([19.81309,-70.677847], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Nuestra%20Señora%20de%20la%20Concepción">Nuestra Señora de la Concepción</a> shipwreck site');
L.marker([-13.042663,-38.499141], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Santíssimo%20Sacramento">Santíssimo Sacramento</a> shipwreck site');
L.marker([32.737843,129.81948], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Nossa%20Senhora%20da%20Graça">Nossa Senhora da Graça</a> shipwreck site');
L.marker([-31.224181,115.407086], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Vergulde%20Draeck">Vergulde Draeck</a> shipwreck site');
L.marker([-13.09375,-38.524923], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Santa%20Escolástica">Santa Escolástica</a> shipwreck site');
L.marker([17.885674,-67.296439], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Rincón">Rincón</a> shipwreck site');
L.marker([-21.515578,39.644197], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Santiago">Santiago</a> shipwreck site');
L.marker([51.7280959292552,-56.4267949694754], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#San%20Juan">San Juan</a> shipwreck site');
L.marker([27.857706,-80.443125], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#San%20Martin">San Martin</a> shipwreck site');
L.marker([14.0705789970669,120.498939233693], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#San%20Diego">San Diego</a> shipwreck site');
L.marker([2.3991121411462,101.841375220709], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Nassau">Nassau</a> shipwreck site');
L.marker([22.2688,-84.698683], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Francisco%20Padre">Francisco Padre</a> shipwreck site');
L.marker([-31.3269,29.9692], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#São%20Bento">São Bento</a> shipwreck site');
L.marker([26.9203338113932,-78.6666676752711], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Nuestra%20Señora%20de%20las%20Maravillas">Nuestra Señora de las Maravillas</a> shipwreck site');
L.marker([16.0174,-23.022721], {icon: shipIcon}).addTo(map).bindPopup('<a href="https://taliaperry.github.io/astro/browse.html#Lady%20Burges">Lady Burges</a> shipwreck site');
	
    
    {% if site.data.theme.map-cluster == true %}
    /* create cluster group */
    var markers = L.markerClusterGroup({ 
        maxClusterRadius: 50, 
        singleMarkerMode: false,
        spiderLegPolylineOptions: { weight: 2, color: '#000', opacity: 1, dashArray: '3 3' },
        polygonOptions:  {  weight: 1, color: '#fff', fillColor: '#fff' },
        iconCreateFunction: function(cluster) {
            /* custom icon function, tweak default to add more alt text */
            var childCount = cluster.getChildCount();
            var csize;
            if (childCount < 5) {
                csize = 'small';
            } else if (childCount < 10) {
                csize = 'medium';
            } else {
                csize = 'large';
            }
            var c = ' marker-cluster-' + csize;
            return new L.DivIcon({ html: '<div><span class="visually-hidden">' + csize +' cluster of </span><span>' + childCount + '</span><span class="visually-hidden"> items</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(40, 40) });
        }
        {% if site.data.theme.map-search == true %}, removeOutsideVisibleBounds: false{% endif %} 
    });{% endif %}

    /* function to create object popups */
    function objectPopups(feature, layer) {
        {% if site.data.theme.map-search == true %}
        /* bind feature for search */
        feature.layer = layer;{% endif %}
        /* calculate item link */
        var itemHref = '{{ "/item.html" | relative_url }}?id=' + feature.properties.link;
        /* find object thumb based on WStype */
        var thumbSrc = feature.properties.watersstimsontypeabrvicon;
        /* create popup content */
        var popupTemplate = '<h2 class="h4"><a class="text-dark" href="' + itemHref + '">' +
            feature.properties.title + '</a></h2><div class="text-center"><a href="' + itemHref + 
            '" ><img class="map-thumb img-thumb" src="' +  thumbSrc + '" alt="item thumbnail"></a></div><p>';
        /* add metadata fields */
        {% for f in fields %}{% if f.display_name %}
        if (feature.properties[{{ f.field | jsonify }}]) {
            popupTemplate += '<strong>{{ f.display_name }}:</strong> ' + feature.properties[{{ f.field | jsonify }}] + '<br>'; 
        }
        {% endif %}{% endfor %}
        popupTemplate += '</p>';
        /* add object popup to map layer */
        layer.bindPopup(popupTemplate);
    }
    /* function to add objects to map */
    
    function objectMarkers(feature,latlng) {

        // Icon options
         var iconOptions = {
            iconUrl: 'assets/map-icons/0.png',
            iconSize: [20, 20],
            popupAnchor:  [0, -10]
         }
         // Creating a custom icon
         var customIcon = L.icon(iconOptions);
         // Creating Marker Options
         var markerOptions = {
            icon: customIcon
         }
        var marker = L.marker(latlng, markerOptions, {alt: feature.properties.title});
        {% if site.data.theme.map-cluster == true %}markers.addLayer(marker);{% endif %}
        return marker;
    }

    /* use geoJson features to add objects to map */
    var mapFeatures = L.geoJson(geodata, {
        onEachFeature: objectPopups,
        pointToLayer: objectMarkers
    }){% if site.data.theme.map-cluster != true %}.addTo(map);{% else %};
    map.addLayer(markers);{% endif %}

    {% if site.data.theme.auto-center-map == true %}
    /* if no location was specified in the URL query parameters, auto center the map */
    if (locationSearchParams === null) {
        const featureBounds = mapFeatures.getBounds()
        if (featureBounds?.isValid()) {
            map.fitBounds(featureBounds);
        }
    } else {
        /* set map view based on URL parameters */
        map.setView(mapCenter, mapZoom);
    }
    {% else %}
    /* set map view based on configuration or URL parameters */
    map.setView(mapCenter, mapZoom);
    {% endif %}
    
    {% if site.data.theme.map-cluster == true and site.data.theme.map-search == true %}
    /* uncluster when search is clicked */
    document.querySelector('a.button').addEventListener("click", function() {
        markers.disableClustering();
    });
    /* recluster when search is closed */
    document.querySelector('a.close').addEventListener("click", function() {
        markers.enableClustering();
        document.querySelector('input.search-input').value = "";
    });{% endif %}

    /* show popup if id in URL query */ 
    if (markerFilter != "") {
        {% if site.data.theme.map-cluster == true %}
        markers.eachLayer(layer => {
            if (layer.feature.properties.id === markerFilter) {
                /* uncluster clusters, then show */ 
                if (markers.getVisibleParent(layer)["_childCount"]) {
                    markers.getVisibleParent(layer).spiderfy();
                } 
                layer.openPopup();
            }
        });
        {% else %}
        mapFeatures.eachLayer(layer => {
            if (layer.feature.properties.id === markerFilter) {
                layer.openPopup();
            }
        });
        {% endif %}
    }

})();

</script>
