/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
h1 {
    font-family: ella-brutalist, sans-serif;
    font-weight: 400;}

.h1sub {
    font-family: fastpen, sans-serif;
    font-weight: 400;}

a {
    color: $success; }

.dropdown-item.active, .dropdown-item:active {
    background-color: $danger;
}

.btn-link {
    color: $danger;
}
.btn-link:hover {
    color: $warning;
}

#numberOf.h2 {
    font-size:1rem;
}

.card.onlybrowse {
    background-color: $light;
    background-image: linear-gradient(180deg, $info, $light);
    background-clip: border-box;
    padding: 10px;
}

.card {
    border-radius: 0;
    border: 0;
}

.card-title.h4 {
    font-family: ella-brutalist, sans-serif;
    font-weight: 400;
}

.card-img, .card-img-top {
    border-radius: 0;
    filter: drop-shadow(.25rem .25rem .25rem $dark);
}

@media (max-width: 576px) {
  .card-img, .card-img-top {
    width: 50%;
}
}

.footinfo {
    color: $success;
    font-style: italic;
}
