/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.inversecolorscheme {
    color: $light;
}

.inversecolorscheme main a, .inversecolorscheme footer a {
    color: $info; 
text-decoration: underline;}

.inversecolorscheme main a:hover, .inversecolorscheme footer a:hover {
    color: $light; 
text-decoration: none;}

.inversecolorscheme header {
    background-color:transparent;}

.shadow-letter {
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.shadow-letter:hover {
-webkit-text-stroke: 1px $danger;
-webkit-text-fill-color: transparent;
}

.shadow-letter:hover:after {
  display: block;
  transform: scale(1, 1.5) translate(2rem, -2.375rem) skew(-60deg);
  content: "How You Should Navigate By Shadows";
  color: $success;
-webkit-text-stroke: 0;
-webkit-text-fill-color: $success;
  position: absolute;
  z-index: -1;
}

.inversecolorscheme .footinfo  {
    color: $light;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #593b57;
    z-index: -2;
}

.wave {
  background: url(https://taliaperry.github.io/astro/assets/img/wave.svg) repeat-x;
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 20s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 8s ease infinite;
  opacity: 1;
}

@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}






header {
    padding-top: 4rem;
    background-color: $dark;
    }

.h1big, a.h1big {
    font-family: ella-brutalist, sans-serif;
    font-weight: 400;
    color: $danger;}

a.h1big:hover {
    color: $warning;
}

.h1sub {
    font-family: fastpen, sans-serif;
    font-weight: 400;
    color: $danger;}

nav.navbar {
    padding-bottom: 2rem;
    padding-bottom: 8rem;
    background: linear-gradient(180deg, $dark, 10rem, $light);}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
    color:$danger;
    border:none;}

a {
    color: $success; }

.dropdown-item.active, .dropdown-item:active {
    background-color: $danger;
}

.btn-link {
    color: $danger;
}
.btn-link:hover {
    color: $warning;
}

h2 {
    padding-top:1rem;
}

.firstonindex {
    padding-top:1rem;
}

.firstonindex::first-line {
  font-size: calc(1.325rem + .9vw);
}

#numberOf.h2 {
    font-size:1rem;
}

.card.onlybrowse {
    background-color: $light;
    background-image: linear-gradient(180deg, $info, $light);
    background-clip: border-box;
    padding: 10px;
}

.card {
    border-radius: 0;
    border: 0;
}

.card-title.h4 {
    font-family: ella-brutalist, sans-serif;
    font-weight: 400;
}

h2#item-title {
    font-family: ella-brutalist, sans-serif;
    font-weight: 400;
} 

.card-img, .card-img-top, .map-thumb {
    border-radius: 0;
    filter: drop-shadow(2px 2px 4px #806B49);
}

.card-img:active, .card-img-top:active, .map-thumb:active {
    filter: none;
    transition: filter 0.25s ease-in;
}

.field-value {
    font-size: .875rem;
}

.abstract {
    padding-top: 1em;
    font-size: .875rem;
    font-style: italic;
}

@media (min-width: 768px) {
 #jumpbutton {
    display: none;
}
}
@media (max-width: 576px) {
  .card-img, .card-img-top {
    width: 50%;
}
}

.footinfo {
    color: $success;
    font-style: italic;
}
