{% comment %}

    Tufte css image inline with text block, title is in margin note (but reverts to full size image orientation in small screen)

    E.G. --> {% include essay/figure.html objectid="demo_001" %}

    Options: 
    - "objectid" = several options below (required)
        1. one objectids from this collection e.g. "demo_001" 
        2. a full URL to an external image file, e.g. "https://www.lib.uidaho.edu/digital/images/fluffyclouds.jpg"
        3. a relative link to an image file stored in this repository (that is not included in the collection), i.e. "/assets/img/evan.jpg"  
        IMPORTANT NOTE: Options 2 and 3 require you to add an "alt" option (or "alt" options for multiple images) in order to allow for the accessibility enabled by the "alt" tag
    - "alt" = alternative text describing the image. This is a required accessibility feature IF you are using an external URL or a relative link (options 2 and 3 above)--it will be automatically filled if providing an objectid. If you do not fill this in but fill in the "caption" option, the "caption" will be included as the images alt value. (optional)
    - "caption" = for option 1 above, the figure include automatically adds the title of the item from your metadata. The caption option allows you to manually add a different caption for that option, or give the value false ('caption=false' - no quotes around false) for none. For options 2 and 3, captions will only be added if the caption variable is set. (optional)
    - "link" = for option 1 above, the figure include automatically links to the item from your metadata. The link option allows you to manually add a different link for that image. For options 2 and 3, link will only be added if the link variable is set; otherwise, the link will be set to the external or relative image file. (optional)
    - "style" = add any css style directly to a style tag on the img element (optional)

{% endcomment %}
{%- assign figures = include.objectid | split: ";" %}
{%- assign captions = include.caption | split: ";" %}
{%- assign alts = include.alt | split: ";" -%}
{%- assign links = include.link | split: ";" -%}
    {% for i in figures %}
    {% if i contains "/" %}
        {%- capture image_src -%}{{ i | relative_url }}{%- endcapture -%}
        {%- capture image_caption -%}{{ captions[forloop.index0] | default: src }}{%- endcapture -%}
        {%- capture image_alt -%}{{ alts[forloop.index0] }}{%- endcapture -%}
        {%- capture image_link -%}{{ links[forloop.index0] | default: image_src }}{%- endcapture -%}
    {% else %}
        {%- assign figure = site.data[site.metadata] | where: "objectid", i | first -%}
        {%- capture image_link -%}{% if figure.parentid %}{{ figure.objectid | prepend: '#' | prepend: figure.parentid | prepend: '/item.html?id=' | relative_url }}{% else %}{{ figure.objectid | prepend: '/item.html?id=' | relative_url }}{% endif %}{% endcapture %}
        {% if captions[forloop.index0] %}{%- capture image_caption -%}{{ captions[forloop.index0] }}{% endcapture %}{% elsif figure.parentid %}{% assign parent = site.data[site.metadata] | where: "objectid", figure.parentid | first %}{% capture image_caption %}{{ parent.title }} Astrolabe, CMAC No. {{ parent.cmacno }}, {{ figure.title }}{% endcapture %}{% else %}{% capture image_caption %}{{ figure.title }}{% endcapture %}{%- endif -%}
        {%- capture image_alt -%}{{ alts[forloop.index0] | default: figure.title }}{%- endcapture -%}
        {%- capture image_src -%}{% if figure.youtubeid %}{{ 'https://img.youtube.com/vi/' | append: figure.youtubeid | append: '/hqdefault.jpg' }}{% elsif figure.filename contains '/' %}{{ figure.filename | relative_url }}{% else %}{{ '/objects/' | append: figure.filename | relative_url }}{% endif %}{% endcapture %}
    {% endif %}

<figure class="figure my-1">
    {% unless include.caption == false %}<span class="marginnote marginmodbefore">{% if i contains "/" %}{{ image_caption }}{% else %}<a href="{{ image_link }}">{{ image_caption }}</a>{% endif %}</span> {%- endunless -%} 
    <a href="{{ image_link | default: image_src}}" title="{{ image_alt | escape }}">
        <img class="figure-img img-fluid rounded lazyload" alt="{{ image_alt | default: image_caption | escape }}"  title="click to see item" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image_src }}" >
    </a>
    {% unless include.caption == false %}<figcaption class="marginmodafter figcaption float-none mb-1">{% if i contains "/" %}{{ image_caption }}{% else %}<a href="{{ image_link }}">{{ image_caption }}</a>{% endif %}</figcaption>{% endunless %}
</figure>
{% endfor %}
